
.Body1{
    background-color:rgb(253, 235, 245); 

}

#Body2{
    background-color:white ;
}
#Body3{
    background-color:white ;
}
#Body4{
    background-color:white ;
}
#Body5{
    background-color:white ;
}
#Body6{
    background-color:white ;
}

.heading{
    text-align: center;
    color:rgb(236, 37, 150);
    padding-bottom:5%;
    padding-top: 5%;
}
.heading_a1{
    text-align: center;
    color:rgb(236, 37, 150);
    padding-top: 5%;
    font-size: 45px;
    font-weight: 600;
}
.heading_s2{
    text-align: center;
    color:rgb(236, 37, 150);
   font-size:x-large;
   padding-top: 0.5%;
   padding-bottom: 2%;
}
.button1{
    width: 20%;
    height:25%;
    border-radius: 5%;
    margin-left: 80%;
    background-color:rgb(236, 37, 150);
    color: white;
    font-weight: 600;

}
.button2{
  
    background-color:rgb(236, 37, 150);
    color: white;
    font-weight: 600;

}
#bt1{
    background-color:rgb(236, 37, 150);
    color: white;
    font-weight: 600;
    height:80px;
    margin-bottom:5%;
    font-size:larger;
}
#bt2{
    background-color:rgb(236, 37, 150);
    color: white;
    font-weight: 600;
    height:80px;
    margin-bottom:5%;
    font-size:larger;
}
#bt3{
    background-color:rgb(236, 37, 150);
    color: white;
    font-weight: 600;
    height:80px;
    margin-bottom:15%;
    font-size:larger;
}
#in1{
    background-color:rgb(253, 235, 245); 
}
.button3{
  
    background-color:rgb(236, 37, 150);
    color: white;
    font-weight: 600;
    margin-right: 10%;

}
.button4{
  
    background-color:rgb(236, 37, 150);
    color: white;
    font-weight: 600;
    margin-right: 10%;

}
#heading2{
    margin-left: 5%;
}
#input1{
    margin-left:70%;
    margin-top: 3%;
}
#input2{
    margin-right:5%;
    margin-top: 3%;
}
.heading3{
    text-align: center;
    color:rgb(236, 37, 150);
    padding-bottom:5%;
    
}
.table1{
margin-left: 3%;
color:rgb(222, 81, 135);
}
.th_1{
    text-align: center;

}
.button5{
   
    border-radius: 10%;
    background-color: rgb(7, 178, 230);
    color: white;
    font-weight: 600;

}
.button6{
    
    border-radius: 10%;
    background-color: rgb(241, 57, 97);
    color: white;
    font-weight: 600;

}
.button7{
   
    border-radius: 10%;
    background-color: rgb(21, 171, 46);
    color: white;
    font-weight: 600;

}